@font-face {
    font-family: "sullivan";
    src: url('../fonts/Sullivan.ttf')
}
#box_about{
    padding: 0 5% 0 15%;
}


.p_about {
    color : #666161;
    line-height: 25px;
    font-family: "Alegreya";
    font-size: 18px;
}
.title_about {
    color : #175079;
    margin: 0px;
    margin-bottom: 50px;
    font-family: "sullivan";
    font-style: normal;
    font-weight: bold;
}

#font-size {
    font-size: 55px;
}
#size_h1{
    font-size: 85px;
}

#bannière {
    
    width: 100%;
    margin-top: 10px;
    margin-bottom: 110px;

}
#portraitschepmans {
    width: 80%;
}
.barre
{
   margin: 100px 165px 100px 0px;
   border-bottom: 1px solid black;
   background-color: lightgrey;
}
