*{
    box-sizing: border-box;
}
.actu {
    background-color: rgb(251, 251, 251);
    padding-left: 5%;
}
.titre, .fa-rss{
    font-size: 350%;
    color: #175079;
    padding: 3% 0;
    display: inline-block;
}
#titre_actu .fa-rss {
    padding-right: 5%;
}
#barre_actu{
 border-bottom: 1px solid #175079;   
}
.actu .col-xs-4.col-sm-4.col-md-4.col-lg-4{
  padding-right: 0;
}
.img_actu{
    width: 100%;
    height: 221.43px;
}
.date h6 {
    display: inline-block;
}
.actu .col-md-12 {
    margin: 5% 0 0 0;
}
.box_actu {
    border: 1px solid #666161;
    padding: 0.9% 3%;
    margin: 0 0 4% 0;

}
.box_actu:hover {
    background-color: #e7e7e7;
}
.box_actu h4 {
    font-size: 200%;
}
.box_actu p {
    line-height: 20px;
}

.title_article {
    color: #175079;
}

@media only screen and (max-width: 768px) {
.hidden_actu{
    display:none;
}
.img_actu{
    height: 70px;
}
.box_actu .title_article{
    font-size: 115%;
}
.btn_actu_page{
    width: 42%;
    font-size: 9px;
}
.titre, .fa-rss-actu {
    font-size: 240%;
}
}