/*CONTACT*/

#contain_contact{
    margin-bottom: 8%;
}
.box_form_contact {
    margin-top: 4%;
    background-color: #f8f8f8;
    padding-bottom: 2%;
}

.contact-form{ 
    margin-top:40px;
}

.contact-form .textarea{ 
    min-height:220px; 
    resize:none;
}
#message {
    height: 95px;
}
.form-control{ 
    box-shadow:none; 
    border-color:#eee; 
    height:49px;
}

.form-control:focus{ 
    box-shadow:none; 
    border-color:#175079;
}

.form-control-feedback{ 
    line-height:50px;
}

.main-btn{ 
    color:#fff;
}
.main-btn:hover{ 
    background:rgb(180, 180, 180);
    border-color: rgb(180, 180, 180);
    color:#175079;
}

.form-control-feedback {
line-height: 50px;
top: 0px;
}

.box_phone{
    padding:10px;
    background:#175079;
    margin-bottom: 5%;
}

.contact {
text-align: center;

}
.contact_categorie {
    color: white;
    font-size: 40px;
}
.inline_block {
    display: inline-block;
}

.box_phone > p {
    font-size: 15px;
}
.first-box {
    margin-top: 9%;
    margin-left: 70px;
}
#contact_box>.contact_icon{
    color: white;
    font-size: 30px;
    margin-right: 10px;
}
.contact_titre{
    padding-bottom: 20px;
    text-align: center;
    font-size: 55px;
    border-bottom: 1px solid #bbbbbb;
    color: #175079;
}

@media only screen and (max-width: 768px) {
.first-box{
    margin: 9% 0 2% 0;
}
}