#titre_equipe {
    color: #175079;
    font-size: 55px;
    padding: 1.5% 0;
    margin: 0 0 3% 0;
    border-bottom: 1px solid #eee;
}

.row_equipe {
    background-color: #eee;
    margin: 0 0 5% 0;
    padding: 3% 0 3% 5%;
}

.elue_equipe {
    font-size:20px;
    color: #175079;

    margin: 0 0 5% 0;
}

.role_equipe {
    color: #97bed3;
    display: inline-block;
    margin: 0 0 5% 0;
}

.portrait_equipe {
    width: 125px;
    height: 125px;
    margin: 0 0 20% 62%;
}
.email_equipe {
    margin: 0 0 5% 0;
}
.block_equipe{
    margin: 0 0 0 5%;
    width: 230px;
    padding: 0 ;
}

.plane_equipe {
    color: #175079;
    margin: 0 3% 0 0;
}

@media only screen and (max-width: 768px) {

.elue_equipe{
    font-size: 16px;
} 
.email_equipe {
    font-size: 10px;
}
.role_equipe {
    font-size: 14px;
}
.portrait_equipe {
    margin: 0;
    width: 100px;
    height: 100px;
}
.block_equipe {
    width: 100px;
}
.row_equipe .col-sm-6{
    padding-left: 0;
}
}