.nav .fa{
    font-size: 25px;
    border: 1px solid black;
    border-radius: 40px;
    padding: 8px;
    color: lightblue;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: white;
}
.fa.fa-youtube:hover{
    color: red;
}
.fa.fa-facebook-official:hover{
    color: blue;
}
.fa.fa-twitter:hover{
    color: blue;
}
.fa.fa-rss:hover{
    color: black;
}
#footerarnault{
    background-color: #175079;
    color: white;
    border-radius: 5px;
    text-shadow: 1px 1px black;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    /*background-color: ;*/
}

.modal-content{
    color: #175079;
}
.btncontact {
    color: #175079;
}

#copyright, #subscrite {
    display:inline-block;
}