*{
    box-sizing: border-box;
}
#homeimg1 {
    width: 95%;
    height: 95%;
    border: 8px solid #175970;
    margin-bottom: 4%;
}

.articlfont{
    font-size: 24px;
    margin-top: 15%;
    color: gray;
    font-weight: bold;
}
.jumbofont{
    color: #97bed3;
    font-size: 20px;
}
.jumbotron .jumbopara{
    color: #a39a9f;
    font-size: 14px;
}
.fafa .fa{
    font-size: 40px;
    padding-top: 20px;
}
div.jumbotron{
    margin-top: 3%;
}
.padactu{
    padding-bottom: 15px;
    color: #17507a;
    font-weight: 600;
}
.taille{
    width:324px;
    height: 252px;
    margin-bottom: 10px;
     border: 5px solid #175970;
}
.syl.fa-users{
    color: #a39a9f;
}
.syl.fa-calendar{
    color: #a39a9f;
}
.syl.fa-thumbs-up{
    color: #a39a9f;
}
.timer{
    margin-bottom: 3%;
    color: #9d9c9c;
}
.colorpara{
    color: #848484;
    padding-bottom: 10px;
}
.border.button.gray{
    background-color: lightgray;
    padding: 10px;
    color: darkblue;
}
.textdeco a {
     text-decoration: none;
}
.textdeco a.border:hover{
    background-color: lightblue;
    color: black;
}
.borduresepar{
    border-bottom: 3px solid #175979;
    margin-top: 3%;
    margin-bottom: 1%;
    
}
.marginpourfooter{
    margin-bottom: 10%;
}
@media screen and (max-width: 550px) {
    .fafa .fa{
    font-size: 15px;
    }
    .jumbotron .jumbopara{
    font-size: 9px;
    }
    .jumbotron .jumbofont{
        font-size: 11px;
    }
}
