*{
    box-sizing: border-box;
}
#ban_undercarousel{
    /* margin-left: -15px; 
    margin-right: -15px;  */
    border-radius: 0;
    background-color: #17507a;
    padding: 3% 0 5% 0;
    margin: 4% -15px 4% -15px;
}
#homeimg1 {
    width: 95%;
    height: 95%;
    border: 2px solid #175970;
    margin-bottom: 4%;
}

.articlfont{
    font-size: 30px;
    margin-top: 15%;
    color: #17507a;
    font-weight: bold;
    font-family: inherit;
}
.jumbofont {
    color: white;
    font-size: 20px;
    font-family: inherit;
    margin: 14% 0 0 0;
}
.jumbotron .jumbopara{
    color: #a39a9f;
    font-size: 14px;
}
.fafa .fa{
    font-size: 40px;
    padding-top: 20px;
}
div.jumbotron{
    margin-top: 3%;
}
.padactu{
    padding-bottom: 15px;
    color: #17507a;
    font-weight: 600;
    font-size: 60px;
}
.taille{
    width:324px;
    height: 252px;
    margin-bottom: 10px;
     border: 2px solid #175970;
}
.syl.fa-users{
    color: #a39a9f;
}
.syl.fa-calendar{
    color: #a39a9f;
}
.syl.fa-thumbs-up{
    color: #a39a9f;
}
.fa-clock-o, .fa-info-circle {
    padding: 0 1%;
}
.timer{
    margin-bottom: 3%;
    color: #9d9c9c;
}
.colorpara{
    color: #848484;
    padding-bottom: 10px;
    font-size: 17px;
}
.border.button.gray{
    background-color: lightgray;
    padding: 10px;
    color: darkblue;
}
.textdeco a {
     text-decoration: none;
}
.textdeco a.border:hover{
    background-color: lightblue;
    color: white;
}
.borduresepar{
    border-bottom: 3px solid #175979;
    margin-top: 3%;
    margin-bottom: 1%;
    
}
#marginpourfooter{
    margin-bottom: 10%;
}
.slides li img{
    width: 100%;
}
.padding_left_10{
    padding-left: 10%;
}
@media screen and (max-width: 550px) {
    .fafa .fa{
    font-size: 15px;
    }

    #ban_undercarousel{
       margin-top: 10%;
       padding: 0% 0 5% 0;
    }
    .jumbofont{
        font-size: 11px;
    }
    .padactu {
        font-size: 29px;
    }
    .artilfont{
        font-size: 25px;
    }
}
