
.title_molen {
 font-size: 75px;
 margin: 0;
 color: #175079;
}

.molenbeek_title {
    color: #175079;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 45px;

}
.p_molenbeek {
    font-size: 18px;
    margin-bottom: 30px;
    }

.col-md-8.molenbeek_col{
    margin-bottom: 40px;
}
.img_logo_molenbeek {
    width: 82px;
    padding-bottom: 10%;


}
#barre_molen{
 border-bottom: 1px solid #175079;
 margin: 5% 0;   
}

@media only screen and (max-width: 768px) {
.title_molen{
    font-size: 37px;
    margin: 0;

}
.img_logo_molenbeek {
    margin: 0;
   width: 50px;
}
.no_padding {
    padding: 0;
}
.molenbeek_title{
    font-size: 32px;
}
#molenbeek{
    padding: 5% 0 0 5%;
}
}
