#captions{
    position: absolute;
    top: 0;
    left: 69%;
    right: 0;
    width: 31.5%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.carousel-control.left{
    background-image: none;
    left: 85%;
}
.carousel-control.right{
    background-image: none;
    right: 80px;
}
.carousel-control{
    width: 0%;
    top: 80%;
}
.carousel.slide{
    border: 8px solid #e0e1e3;
}


