
/* DEBUT NAVBARRE*/
@media only screen and (max-width: 768px) {
   .sociaux #nav_icontop .icon_top {
        font-size: 15px;
    }
    .sociaux #nav_icontop li  a {
        padding: 10px 0;

        
    }

  
}
.btn_nav_lang_en {
    right: 40px;
    float: right;
    margin: 10px;
}
.btn_nav_lang_fr {
    right: 40px;
    float: right;
    margin: 10px;
}
.btn_nav_lang_nl{
    right: 40px;
    float: right;
    margin: 10px;
}

.navbar_top {
     padding: 0 0 0 20%;
}

.navbar#background-blank{
    background-color: white;
    border: none;
    
}
#scheplogo{
    padding-top: 8px;
}
.sociaux {
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center;

}
#nav_icontop .icon_top{
    font-size: 25px;
    border: 1px solid lightblue;
    border-radius: 40px;
    padding: 8px;
    color: lightblue;
}

#nav_icontop .youtube_navtop>a>.fa-youtube:hover{
    color: red;
}
#fb:hover{
    color: blue;
}
#twit:hover{
    color: blue;
}
#nav_icontop .actu_navtop>a>.fa-rss:hover{
    color: black;
}
#nav_j .hovernav .a_nav_top:hover{
    background-color: lightblue;
    color: white;
    
}
#nav_j >.hovernav>.a_nav_top {
    text-decoration: none;
    padding: 20px 30px;
}


/*END NAVBARRE*/

/*Page About*/

@font-face {
    font-family: "sullivan";
    src: url('../fonts/Sullivan.ttf')
}
#box_about{
    padding: 0 5% 0 15%;
}


.p_about {
    color : #666161;
    line-height: 25px;
    font-family: "Alegreya";
    font-size: 18px;
}
.title_about {
    color : #175079;
    margin: 0px;
    margin-bottom: 50px;
    font-family: "sullivan";
    font-style: normal;
    font-weight: bold;
}

#font-size {
    font-size: 55px;
}
#size_h1{
    font-size: 85px;
    text-align: center;
}

#bannière {
    margin-left: -15px;
    width: 1170px;
    margin-top: 10px;
    margin-bottom: 110px;

}
#portraitschepmans {
    width: 80%;
}
.barre
{
   margin: 100px 165px 100px 0px;
   border-bottom: 1px solid black;
   background-color: lightgrey;
}

/*END ABOUT*/

/*DEBUT FOOTER*/
.nav_footer .fa{
    font-size: 25px;
    border: 1px solid lightblue;
    border-radius: 40px;
    padding: 8px;
    color: lightblue;
}
.nav_footer>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #175079;
}
.fa.fa-youtube:hover{
    color: red;
}
.fa.fa-facebook-official:hover{
    color: blue;
}
.fa.fa-twitter:hover{
    color: blue;
}
.fa.fa-rss:hover{
    color: black;
}
#footerarnault{
    background-color: #175079;
    color: white;

  
    padding: 4% 0;
    
}
.nav_footer > li > a{
    padding-top: 0;
}
.modal-content{
    color: #175079;
}
.btncontact {
    color: #175079;
}

#copyright, #subscrite {
    display:inline-block;
}
#subscrite {
    margin: 0 5%;
    font-size: 20px;
}
#copyright {
    margin-left: 15%;
}
#text_footer {
    display: inline-block;
    margin: 0 0 0 5%;
}
#copyright > p {
    margin: 5% 0;
}
a#back-top{
    display: none !important;
}
#footer_padding{
    padding: initial;
    
}
/*FIN FOOTER*/